/* Fade to black */
.fadetoblack {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;

    z-index: 10;
    /* transition: 1s; */

    /* animation: fadetoblack 1s none linear;
    animation: fadetoview 1s none linear; */
}

/* ANIMATIONS */

@keyframes fadetoblack {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: black;
    }
}

@keyframes fadetoview {
    0% {
        background-color: black;
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes fadetoblackandback {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    25% {
        background-color: black;
    }
    75% {
        background-color: black;
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

/* LOADING SCREEN */
.loadingBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;

    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingTxt {
    font-family: Diogenes;
    color: white;
    cursor: pointer;
}

.loadingDot {
    font-family: Diogenes;
    animation: fading 1.5s ease-in infinite;
}

#loadingDot1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#loadingDot2 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#loadingDot3 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes fading {
    0%,
    100% {
        color: black;
    }
    33% {
        color: white;
    }
    66% {
        color: white;
    }
}

/* FIRE */
body {
    background-color: #111217;
}
.fire {
    /* position: absolute; */
    transform: translate(-0%, -0%);
    height: 20vw;
    width: 20vw;
}
.fire .flames {
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translateX(-50%) rotate(45deg);
}
.fire .flames .flame {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 0%;
    height: 0%;
    background-color: #ffdc01;
    border-radius: 1vw;
}
.fire .flames .flame:nth-child(2n + 1) {
    -webkit-animation: flameodd 1.5s ease-in infinite;
    animation: flameodd 1.5s ease-in infinite;
}
.fire .flames .flame:nth-child(2n) {
    -webkit-animation: flameeven 1.5s ease-in infinite;
    animation: flameeven 1.5s ease-in infinite;
}
.fire .flames .flame:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.fire .flames .flame:nth-child(2) {
    -webkit-animation-delay: 0.375s;
    animation-delay: 0.375s;
}
.fire .flames .flame:nth-child(3) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
.fire .flames .flame:nth-child(4) {
    -webkit-animation-delay: 1.125s;
    animation-delay: 1.125s;
}
.fire .logs {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 15%;
}
.fire .logs:before,
.fire .logs:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    background-color: #70392f;
}
.fire .logs:before {
    transform: translate(-50%, -50%) rotate(-20deg);
    background-color: #612e25;
}

@-webkit-keyframes flameodd {
    0%,
    100% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 100%;
        height: 100%;
    }
    0% {
        background-color: #ffdc01;
        z-index: 1000000;
    }
    40% {
        background-color: #fdac01;
        z-index: 1000000;
    }
    100% {
        background-color: #f73b01;
        z-index: -10;
    }
    0% {
        right: 0%;
        bottom: 0%;
    }
    25% {
        right: 1%;
        bottom: 2%;
    }
    100% {
        right: 150%;
        bottom: 170%;
    }
}

@keyframes flameodd {
    0%,
    100% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 100%;
        height: 100%;
    }
    0% {
        background-color: #ffdc01;
        z-index: 1000000;
    }
    40% {
        background-color: #fdac01;
        z-index: 1000000;
    }
    100% {
        background-color: #f73b01;
        z-index: -10;
    }
    0% {
        right: 0%;
        bottom: 0%;
    }
    25% {
        right: 1%;
        bottom: 2%;
    }
    100% {
        right: 150%;
        bottom: 170%;
    }
}
@-webkit-keyframes flameeven {
    0%,
    100% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 100%;
        height: 100%;
    }
    0% {
        background-color: #ffdc01;
        z-index: 1000000;
    }
    40% {
        background-color: #fdac01;
        z-index: 1000000;
    }
    100% {
        background-color: #f73b01;
        z-index: -10;
    }
    0% {
        right: 0%;
        bottom: 0%;
    }
    25% {
        right: 2%;
        bottom: 1%;
    }
    100% {
        right: 170%;
        bottom: 150%;
    }
}
@keyframes flameeven {
    0%,
    100% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 100%;
        height: 100%;
    }
    0% {
        background-color: #ffdc01;
        z-index: 1000000;
    }
    40% {
        background-color: #fdac01;
        z-index: 1000000;
    }
    100% {
        background-color: #f73b01;
        z-index: -10;
    }
    0% {
        right: 0%;
        bottom: 0%;
    }
    25% {
        right: 2%;
        bottom: 1%;
    }
    100% {
        right: 170%;
        bottom: 150%;
    }
}

/* CHARACTER CREATION */
.backgroundCharacterCreation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.storyText {
    font-family: "DIOGENES", montserrat, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-weight: 100;
}

.storyText:hover {
    cursor: pointer;
    text-shadow: rgb(255, 106, 0) 0 0 15px;
}

.storyTextStatic {
    font-family: "DIOGENES", montserrat, sans-serif;
    color: whitesmoke;
    font-weight: 100;
}

.storyInputDiv {
    height: 0;
}

.storyInput {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: "DIOGENES", montserrat, sans-serif;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    width: fit-content;
    font-weight: 100;
}

.storyInput:focus {
    outline: none;
}

input {
    border: none;
}

/* Quest */
.backgroundQuest {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* background-image: url(https://media.baamboozle.com/uploads/images/259918/1613509053_273392.jpeg); */
    background-size: cover;
    z-index: -10;

    transition: 1s;
}

.UI {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#playerUI {
    display: flex;
}

#imageUI {
    height: 100px;
    border-radius: 50%;
    border: 4px solid #412c0f;
    cursor: pointer;
}

#imageUI:hover {
    box-shadow: rgb(255, 250, 195) 0 0 5px;
}

/* #healthbarDiv {
    position: relative;
    left: -100px;
    border-radius: 50px;
    width: 300px;
    background-color: #412c0fba;
    z-index: -1;
} */

/* STORY DIV */
.parchment {
    opacity: 0;

    width: 900px;
    height: 500px;
    margin: 100px auto;
    padding: 80px;

    background-image: url("../../assets/parchment.png");
    background-size: cover;
    background-position: center;

    transition: 0.5s;
}

.storyDiv {
    width: 100%;
    height: 100%;

    transition: 0.5s;
}

.parchmentTop {
    display: flex;
    gap: 30px;
}

.parchmentImage {
    height: 150px;
    width: 150px;
    min-width: 150px;
    object-fit: cover;
    box-shadow: rgb(0, 0, 0) 0 0 5px;
}

.parchmentText {
    font-family: DIOGENES;
    font-weight: 100;

    color: black;
    text-shadow: 2px 2px 5px #474747;

    margin-bottom: 20px;
}

.parchmentBottom {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.optionDiv {
}

.parchmentTextOption {
    font-family: DIOGENES;
    font-weight: 100;
    width: fit-content;

    color: black;
    text-shadow: 2px 2px 5px #474747;
}

.parchmentTextOption:hover {
    color: whitesmoke;
    cursor: pointer;
}

/* Inventory */
.inventoryDiv {
    background-color: #231809d5;
    border-top-right-radius: 10px;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
}

.inventoryWindow {
    padding: 20px;
    border: 2px solid #412c0f;
    background-color: #231809d5;
    height: fit-content;
}

.healthbarDiv {
    display: flex;
    align-items: center;
}

.healthbarIcon {
    width: 15px;
}

.healthbar {
    width: 100px;
    height: 10px;
    border-radius: 5px;
    border: 2px solid #412c0f;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.bar {
    height: 6px;
    width: 50%;
    background-color: green;
    border-radius: 3px;
}

.inventory {
    margin-left: 20px;
}

#inventory {
    height: 400px;
    width: 300px;
    margin-bottom: 10px;
    background-color: #47351640;

    display: flex;
    flex-wrap: wrap;
}

.gearDiv {
    height: 100px;
    width: 300px;

    display: flex;
}

.inventorySlot {
    background-color: #f5eadc0f;
    margin: 5px;
    height: 65px;
    width: 65px;
}

.itemImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
