/* HOME */
#canvas {
    position: fixed;
    height: 100vh;
    width: 100vw;
    filter: blur(1px);

    z-index: -1;
}

#Home {
    width: 100vw;

    display: flex;
    flex-direction: column;
}

#Home a {
    text-decoration: none;
}

.backgroundHome {
    width: 100vw;
    height: 100vh;

    background-image: url("../../assets/caveWall.jpeg");

    background-size: auto 103vh;

    animation: panning 30s infinite ease-in-out;

    position: fixed;

    z-index: -2;
}

/* HEADER */
header {
    width: 100%;
    background-color: #231809d2;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#miniLogo {
    font-family: "Old Stone", montserrat, sans-serif;
    font-weight: normal;
    margin-top: 10px;
    font-size: 60px;
    line-height: 60px;

    background: url(https://wallpaperaccess.com/full/4856616.jpg);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 100%;
}

.logMenu {
    margin: 10px 26px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#headerUserPicture {
    height: 50px;
    width: 50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

#headerIcon {
    height: 30px;
    cursor: pointer;
}

/* SEARCH USER */
#searchUserDiv {
    height: 28.5px;
}

#resultList {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #231809d5;
}

/* PROFILE */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#profileDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#picture {
    width: 240px;
    height: 240px;
    object-fit: cover;
}

#userInfo {
    display: flex;
    flex-direction: column;
    gap: 10.5px;
}

#xBtn {
    float: right;
    margin: -10px -5px;
    cursor: pointer;
}

#bioDiv {
    width: 400px;
    text-align: justify;
}

#bioText {
    height: 283px;
}

#bioTextarea {
    height: 285px;
}

/* FRIENDS */
.friendList {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

/* CHAT */
.chatDiv {
    background-color: #231809d5;
    border-top-left-radius: 10px;
    height: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
}

.chatWindow {
    padding: 20px;
    border: 2px solid #412c0f;
    background-color: #231809d5;
    height: fit-content;
}

.flexDiv {
    display: flex;
}

#chatFeed {
    height: 400px;
    overflow: scroll;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #47351640;
}

.chatMessage {
    display: flex;
    gap: 20px;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.chatText {
    max-width: 247px;
}

#chatTextarea {
    width: 100%;
}

.chatMenu {
    width: 200px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.onlineDot {
    color: lime;
    max-width: 0px;
}

/* NOTIFICATION DOT */
.notificationDot {
    color: red;
    max-width: 0px;
    float: right;
}

/* FRIENDS LIST */

#friendsList {
    text-align: left;
    width: fit-content;
}

/* POST */

.post {
    padding: 20px;
    margin: 10px 0;
    width: 700px;

    background-color: #231809d5;
    border: 2px solid #412c0f;
    /* width: 100%; */
    display: flex;
    gap: 20px;
}

.postBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postText {
    max-height: 198px;
}

.date {
    font-size: 10px;
    font-weight: 100;
    color: blanchedalmond;
}

/* SELECTION SCREEN */
.selectionScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #412c0f;
    border-radius: 10px;
    background-color: #231809dc;
    height: fit-content;

    display: flex;
    flex-direction: column;
    text-align: center;

    height: 400px;
}

.card:hover {
    box-shadow: rgb(255, 250, 195) 0 0 5px;
}

.card img {
    border: 1px solid #412c0f;
}

.cardsDiv {
    height: 500px;
    background-color: #140d05d5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsDiv h1 {
    padding: 10px;
    font-family: "DIOGENES", montserrat, sans-serif;
    color: whitesmoke;
    text-shadow: rgb(255, 106, 0) 0 0 5px;
}

.cardsMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

@keyframes panning {
    0% {
        background-position: 0px 0%;
    }
    50% {
        background-position: -60px 0%;
    }
    100% {
        background-position: 0px 0%;
    }
}
